.namae{
    font-size: 70px;
    margin: 300px;
    text-align: center;
    color: white;
}


body{
    background-image: url("./black.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: overlay;
    background-position: center center;
    
}