.namae{
    font-size: 70px;
    margin: 300px;
    text-align: center;
}


body{
    background-image: url("./black.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: 400px 400px;
    mix-blend-mode: overlay;
}