.contents{
    font-size: 50px;
    margin: 100px 0 0 100px;
    text-align: center;
    color: white;
    font-weight: 800;
}


body{
    background-image: url("./black.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: overlay;
    background-position: center center;
}

.namae{
    text-align: center;
}
